article {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.routes {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}

.routes:hover {
  text-decoration: underline;
  color: gray;
}
