pip==23.0.1

# CORE
flask
flask-cors
python-dotenv

# HONEYCOMB.IO
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests

# XRAY
aws-xray-sdk

# CloudWatch logs and WatchTower
# watchtower

# ROLLBAR
blinker
rollbar